<div class="uk-grid">

  <div class="uk-width-1-5" style="margin-left: 21rem;">
    <img [src]="imagePath" class="imgCustomer" alt="customer"><br>
    <div (click)="displayAnotherComp()" style="color:blue;cursor:pointer;"><u>{{ name2 }}</u></div>
  </div>
  <br>
  <div class="uk-width-1-5">
   <app-customer2 *ngIf="anotherComp"
     (displayThirdComp)="callThirdComp($event)"></app-customer2>
  </div>
  <div class="uk-width-1-5">
    <app-customer *ngIf="thirdComp"></app-customer>
  </div>
</div>
