<div>
  <div class="uk-grid">
    <div class="uk-width-1-4@m uk-width-1-2@s mainComponent">

      <div class="uk-text-lead uk-text-center uk-text-middle uk-text-uppercase uk-text-primary" style="background-color: #fff;">
        <img [src]="imgSales" style="width:50px;height:79px;background-color: #fff;">
      </div>
      <ul class="uk-list uk-list-striped uk-nav">
        <li class="uk-active"><a href="#"  (click)="onItemsClicked('dashboard')"
               [routerLink]="['/dashboard']">Dashboard</a></li>
        <li><a href="#" (click)="onItemsClicked('customers')"
               [routerLink]="['/customers']">Customers</a></li>
        <li><a href="#" (click)="onItemsClicked('Orders')"
               [routerLink]="['/orders']">Orders</a></li>
      </ul>

    </div>
    <div class="uk-width-1-1@m uk-width-1-3@s uk-position-relative" style="overflow:auto">
      <nav class="navElement" uk-navbar>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <img [src]="imgCust" class="imgCustomer">
            <li class="uk-active"><a href="#">Salestrendz Suite</a></li>
          </ul>
        </div>
      </nav>
      <br>
      <!--<app-dashboard *ngIf="itemValue === 'dashboard'"></app-dashboard>
      <app-customers *ngIf="itemValue === 'customers'"></app-customers>
      <app-orders *ngIf="itemValue === 'Orders'"></app-orders>-->
      <router-outlet></router-outlet>
    </div>
    <div style="height:200px"></div>
  </div>

  <div class="uk-width-1-1@m footer">
    <p class="uk-text-lead uk-text-center">&copy;Copyright</p>
  </div>
</div>
