.mainComponent {
  border-right: 1px solid black;
  height: 100vh;
  z-index: 1;
  Position: fixed;
}

.navElement
{
  background-color: cadetblue;
  margin-left: -40px;

}
.imgCustomer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 1.5rem;
}
.footer
{
  position: fixed;
  bottom: 0 !important;
  background-color: cadetblue;
  z-index: 1;
  width: 100%;
  height: 5rem;
}
