<div style="margin: auto">
<div class="uk-flex uk-flex-center">
  <button style="margin-left: 49rem;"
    class="uk-button uk-button-primary uk-border-rounded uk-align-center"
          (click)="onCreateClick()">Create</button>
</div>
<br><br>
<div *ngIf="displayForm" class="uk-width-1-2 uk-flex uk-float-right" style="overflow: auto;">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
   <div class="uk-card uk-card-body" style="border:1px solid black;">
     <div class="uk-card-title">Register Customer</div>
     <div class="uk-margin">
       <label >Customer Name</label>
       <input class="uk-input"
              type="text"
              placeholder="Customer name"
              name="name"
              ngModel
              required
              #Cname="ngModel">
     </div>
     <span style="color:red" *ngIf="!Cname.valid && Cname.touched">Please Enter A Valid customer name</span>

     <div class="uk-margin">
       <label>Customer Email</label>
       <input class="uk-input" type="text"
              placeholder="Customer email"
              name="email"
              ngModel
              required
              email
              #em="ngModel">
     </div>
    <span style="color:red" *ngIf="!em.valid && em.touched">Please Enter A Valid Email Address</span>

     <div class="uk-margin">
       <label>Customer UserName</label>
       <input class="uk-input"
              type="text"
              placeholder="Customer username"
              name="username"
              ngModel
              required
              #uName="ngModel">
     </div>
     <span style="color:red" *ngIf="!uName.valid && uName.touched">Please Enter A Valid username</span>
      <br>
     <button class="uk-button uk-button-primary uk-border-rounded"
             type="submit"
             [disabled]="!f.valid">Register</button>
   </div>
  </form>
</div>
<div class="uk-float-right">
  {{ name }} {{ email }} {{ userName }}
</div>
</div>
